<form action="/categoria/store" method="post">
    <div class="form-group">
        <label for="campo-nome-categoria">Nome da Categoria</label>
        <input class="form-control" type="text" id="campo-nome-categoria" name="categoria.NomeCategoria" required="required" />
    </div>
    <div class="float-right mb-4">
        <button class="btn btn-success" type="submit" value="salvar"> Salvar</button>
    </div>
</form>
